<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * Copyright (c) 2017 by k3b.
 *
 * This file is part of "Extended jpg Media-db Scanner" (media_scan_trace).
 *
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License
 * for more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <http://www.gnu.org/licenses/>
 */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.k3b.android.media.scanner"
    android:installLocation="auto">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- to read fotos from gallery in android-4.4 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="de.k3b.android.media.scanner.MediaScanTraceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="de.k3b.android.media.scanner.ScannerReceiver"
            android:enabled="true"
            android:exported="true">

            <!-- if called without mime  -->
            <intent-filter android:priority="10" >
                <action android:name="android.intent.action_MEDIA_SCANNER_STARTED" />
                <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED" />
                <action android:name="android.intent.action.MEDIA_SCANNER_SCAN_FILE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
            </intent-filter>

            <!-- if called with mime. probably not necessary
            <intent-filter android:priority="10">
                <action android:name="android.intent.action_MEDIA_SCANNER_STARTED" />
                <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED" />
                <action android:name="android.intent.action.MEDIA_SCANNER_SCAN_FILE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
            </intent-filter>
            -->

            <!-- not working
                <intent-filter android:priority="10">
                    <action android:name="android.intent.action_MEDIA_SCANNER_STARTED" />
                    <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED" />
                    <action android:name="android.intent.action.MEDIA_SCANNER_SCAN_FILE" />
                    <action android:name="de.k3b.test.MEDIA_SCANNER_SCAN_FILE" />
                </intent-filter>
            -->

            <!-- on old android versions (i.e. androids-4.4, 4.2 ) info that camera has taken
                a new photo, after beeing added to media-db  -->
            <intent-filter android:priority="10">
                <action android:name="android.hardware.action.NEW_PICTURE" />
                <action android:name="com.android.camera.NEW_PICTURE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="image/jpeg" />
            </intent-filter>
        </receiver>

    </application>

</manifest>